* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #000000;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('https://i.ibb.co/fvN9ddB/asd.jpg');
  }
  
.center {
  margin-left: 35%;
}
  .header {
    width: 70%;
    margin: 50px auto 0px;
    color: white;
    background: #e9c19c;
    text-align: center;
    border: 1px solid #000000;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 35%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #000000;
    background: #e9c19c;
    border-radius: 0px 0px 10px 10px;
    opacity: 0.1;
    
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }

   input[type="checkbox"]
   {
    width: 14px;
    height: 14px;
   }
   
  button {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
